@import "../../../styles/variables";

.client {
  position: relative;
  margin: 140px 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin: 80px 0;
  }

  .container {
    max-width: 1540px;
  }

  &Slider {

    &Block {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      padding: 30px 40px 20px;

      @media screen and (max-width: 767px) {
        padding: 40px 20px 36px;
      }
    }

    &Item {
      padding: 20px !important;
      background: #EEECEA;
      box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 16px;

      @media screen and (max-width: 767px) {
        padding: 10px !important;
      }

      &Photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 16px;
        margin-right: 30px;

        @media screen and (max-width: 767px) {
          margin-right: 16px;
        }

        img {
          width: initial;
        }
      }

      &Name {
        font: 24px/34px $fontNotoSans;
        font-weight: 500;
        color: #080808;
        margin-bottom: 22px;

        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 6px;
        }
      }

      &Country {
        font: 16px/22px $fontNotoSans;
        font-weight: 500;
        color: #B9AFA5;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-left: 28px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzdfMTg5KSI+CjxwYXRoIGQ9Ik05IDBDNy4yMTA1MiAwLjAwMjM3Mzc5IDUuNDk1MDEgMC43MTQyOTUgNC4yMjk2NSAxLjk3OTY1QzIuOTY0MjkgMy4yNDUwMSAyLjI1MjM3IDQuOTYwNTIgMi4yNSA2Ljc1QzIuMjUgMTEuNTk1OSA4LjUzODc1IDE3LjY2NTMgOC44MDU5NCAxNy45MjEyQzguODU3OTEgMTcuOTcxOCA4LjkyNzUzIDE4IDkgMThDOS4wNzI0NyAxOCA5LjE0MjA5IDE3Ljk3MTggOS4xOTQwNiAxNy45MjEyQzkuNDYxMjUgMTcuNjY1MyAxNS43NSAxMS41OTU5IDE1Ljc1IDYuNzVDMTUuNzQ3NiA0Ljk2MDUyIDE1LjAzNTcgMy4yNDUwMSAxMy43NzAzIDEuOTc5NjVDMTIuNTA1IDAuNzE0Mjk1IDEwLjc4OTUgMC4wMDIzNzM3OSA5IDBaTTkgOS44NDM3NUM4LjM4ODExIDkuODQzNzUgNy43ODk5NyA5LjY2MjMgNy4yODEyIDkuMzIyMzZDNi43NzI0NCA4Ljk4MjQxIDYuMzc1OTEgOC40OTkyNCA2LjE0MTc1IDcuOTMzOTNDNS45MDc1OSA3LjM2ODYyIDUuODQ2MzIgNi43NDY1NyA1Ljk2NTcgNi4xNDY0NEM2LjA4NTA3IDUuNTQ2MzEgNi4zNzk3MiA0Ljk5NTA2IDYuODEyMzkgNC41NjIzOUM3LjI0NTA2IDQuMTI5NzIgNy43OTYzMSAzLjgzNTA3IDguMzk2NDQgMy43MTU3QzguOTk2NTcgMy41OTYzMiA5LjYxODYyIDMuNjU3NTkgMTAuMTgzOSAzLjg5MTc1QzEwLjc0OTIgNC4xMjU5MSAxMS4yMzI0IDQuNTIyNDQgMTEuNTcyNCA1LjAzMTJDMTEuOTEyMyA1LjUzOTk3IDEyLjA5MzggNi4xMzgxMSAxMi4wOTM4IDYuNzVDMTIuMDkzMyA3LjU3MDM2IDExLjc2NzIgOC4zNTY5OCAxMS4xODcxIDguOTM3MDdDMTAuNjA3IDkuNTE3MTUgOS44MjAzNiA5Ljg0MzI2IDkgOS44NDM3NVoiIGZpbGw9IiNCOUFGQTUiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF83XzE4OSI+CjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K") no-repeat left center;
        background-size: 18px 18px;

        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 20px;
          padding-left: 24px;
          background-size: 14px 14px;
        }

        @media screen and (max-width: 480px) {
          margin-bottom: 12px;
        }
      }

      &Info {

        @media screen and (min-width: 481px) {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }

      &Text {
        font: 20px/30px $fontInter;
        font-weight: 400;
        color: rgba(0, 0, 0, .8);
        margin-bottom: 62px;

        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &Rating {
        font: 24px/34px $fontNotoSans;
        font-weight: 500;
        color: #B9AFA5;
        margin-right: 12px;

        @media screen and (max-width: 767px) {
          font-size: 16px;
          line-height: 22px;
        }

        &Photo {
          max-width: 150px;

          @media screen and (max-width: 560px) {
            max-width: 100px;
          }
        }
      }
    }
  }

  .slider {

    &Btn {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin-top: 20px;

      &:before {
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        left: 0;
        top: 20px;
        background: linear-gradient(to right, transparent, #B9AFA5);
      }

      &:after {
        content: "";
        position: absolute;
        width: 30%;
        height: 1px;
        right: 0;
        top: 20px;
        background: linear-gradient(to left, transparent, #B9AFA5);
      }


      &Item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: #EEECEA;
        box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 4px;
        transition: all .3s;
        cursor: pointer;

        &:hover {

          @media screen and (min-width: 768px) {
            opacity: .7;
          }
        }

        img {
          width: initial;
        }

        &Prev {
          position: relative;

          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .flexCenter {
    display: flex;
    align-items: center;
  }
}