@import "../../../styles/variables";

.move {
  position: relative;
  margin: 140px 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin: 80px 0;
    padding: 20px;
  }

  .container {
    max-width: 1260px;
    background: #EEECEA;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;

    @media screen and (max-width: 767px) {
      padding: 10px;
    }
  }

  &Content {
    position: relative;
    z-index: 1;
    padding: 60px 40px 90px;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      min-height: 710px;
      padding: 60px 20px;
    }

    @media screen and (min-width: 768px) {
      background: linear-gradient(259.7deg, #FDC578 0%, #FFD7A1 101.22%);
      box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 16px;

      &:before {
        content: "";
        position: absolute;
        width: 575px;
        height: 575px;
        left: -304px;
        top: 166px;
        background: #FF6320;
        filter: blur(300px);
      }

      &:after {
        content: "";
        position: absolute;
        width: 575px;
        height: 575px;
        left: 1141px;
        top: 135px;
        background: #FF6320;
        filter: blur(300px);

      }
    }

    &Title {
      position: relative;
      max-width: 490px;
      font: 64px/83px $fontNotoSans;
      font-weight: 500;
      color: #060612;
      margin-top: 0;
      margin-bottom: 20px;

      @media screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 42px;
      }
    }

    &Text {
      position: relative;
      max-width: 470px;
      font: 16px/24px $fontNotoSans;
      font-weight: 500;
      color: rgba(0, 0, 0, .8);
      margin-bottom: 40px;
      z-index: 1;

      @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 21px;
      }
    }

    &Bg {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;

      @media screen and (max-width: 767px) {
        top: 0;
        left: 0;
      }
      
      @media screen and (min-width: 768px) {
        max-width: 550px;
        right: 5%;
        bottom: -30px;
      }

      img {
        height: 100%;
        border-radius: 16px;
      }
    }

    .ellipseWrapper1 {
      position: absolute;
      top: -30px;
      right: 5%;
      width: 100%;
      max-width: 550px;
      z-index: -2;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    .ellipseWrapper2 {
      position: absolute;
      bottom: -45px;
      right: -3%;
      width: 100%;
      max-width: 560px;
      z-index: -2;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}