@import "../../../styles/variables";

.trade {
  margin: 140px 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin: 80px 0;
  }

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      text-align: center;
    }

  }

  &Item {
    display: flex;
    align-items: center;
    flex-basis: 25%;

    @media screen and (max-width: 767px) {
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
    }

    &Photo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      background: #EEECEA;
      box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 16px;

      @media screen and (max-width: 767px) {
        width: 66px;
        height: 66px;
      }

      img {
        width: initial;
      }
    }

    &Title {
      font: 32px/38px $fontNotoSans;
      font-weight: 500;
      color: #060612;
      margin-bottom: 2px;

      @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 3px;
      }
    }

    &Text {
      font: 16px/24px $fontInter;
      font-weight: 400;
      color: rgba(0, 0, 0, .8);
      margin-bottom: 2px;

      @media screen and (max-width: 767px) {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
      }

      span {
        font: 32px/38px $fontNotoSans;
        font-weight: 500;
        color: #060612;

        @media screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 29px;
        }
      }
    }

    &Info {
      margin-left: 30px;

      @media screen and (max-width: 767px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}