@import "../../styles/variables";

.header {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1111;
  transition: all .6s;

  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;

    .headerContent {
      background: white;
      border-radius: 12px;
      padding-bottom: 11px;
      margin-top: 5px;

      @media screen and (max-width: 767px){
        padding: 15px 10px;
      }
    }
  }

  .container {

    @media screen and (max-width: 767px){
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &Content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;

    @media screen and (min-width: 768px) {
      margin: 0 40px;
      padding: 11px 40px 23px;
    }
  }

  .nav {

    @media screen and (max-width: 991px) {
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      max-width: 250px;
      top: 0;
      z-index: 111;
      overflow: scroll;
      transition: all .15s ease-in;
      right: -250px;
      left: inherit;
      padding: 100px 20px 20px;
      background: white;
    }

    @media screen and (max-width: 480px) {
      right: -100%;
      max-width: 100%;
    }

    @media screen and (min-width: 992px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {

      &:not(.btn){
        display: block;
        font: 16px/24px $fontInter;
        font-weight: 400;
        padding: 10px 0;
        color: #060612;
        margin: 0 15px;
        background-color: transparent !important;

        @media screen and (max-width: 991px) {
          margin: 0;
        }

        &:hover {
          color: #FF6320;
        }
      }

      &.btn {

        @media screen and (max-width: 991px) {
          margin-top: 30px;
        }
      }
    }

    &.open {
      transform: translateX(-250px);
      box-shadow: 0 8px 32px rgba(0,0,0,.1);

      @media screen and (max-width: 480px) {
        transform: translateX(-100%);
        box-shadow: none;
      }
    }
  }

  &Left {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 115;
  }

  .logo {
    max-width: 36px;
    margin-right: 40px;
  }

  .burger {
    position: relative;
    width: 62px;
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    z-index: 112;

    @media screen and (min-width: 992px) {
      display: none;
    }

    span {
      width: 100%;
      display: block;
      height: 2px;
      background: #020204;
      border-radius: 2px;

      &:first-child {
        max-width: 42px;
        margin-bottom: 15px;
        margin-left: auto;
      }
    }
  }
}