@import "../../../styles/variables";

.markets {
  margin: 140px 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    margin: 80px 0;
  }

  &Title {
    max-width: 495px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &Content {
    display: grid;
    background: #EEECEA;
    padding: 20px;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      padding: 10px;
      gap: 10px;
    }

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }

  &Item {

    &:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10xp;
      }
    }

    &:nth-child(1), &:nth-child(3) {

      @media screen and (max-width: 767px) {
        min-height: 320px;
      }
    }

    &Bg {
      height: 100%;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
      border-radius: 12px;
      padding: 15px;
      text-align: center;

      @media screen and (max-width: 767px) {
        padding: 20px;
      }
    }

    &Title {
      font: 24px/34px $fontNotoSans;
      font-weight: 300;
      color: #080808;

      @media screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    &Number {
      font: 64px/77px $fontNotoSans;
      font-weight: 500;
      color: #060612;

      @media screen and (max-width: 767px) {
        font-size: 48px;
        line-height: 58px;
      }
    }

    &Product {
      font: 16px/19px $fontNotoSans;
      font-weight: 400;
      color: #060612;
    }

    &Photo {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }
}